<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aurigma.GraphicsMill.Core.x86" version="10.6.25" targetFramework="net40" />
  <package id="Aurigma.GraphicsMill.Templates.x86" version="10.6.25" targetFramework="net40" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" />
</packages>