<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aurigma.GraphicsMill.Core.x86" version="7.5.75" targetFramework="net45" />
  <package id="Aurigma.GraphicsMill.Web.x86" version="7.5.75" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
</packages>