<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aurigma.GraphicsMill.Core.x86" version="8.0.14" targetFramework="net45" />
  <package id="Aurigma.GraphicsMill.Web.x86" version="8.0.14" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
</packages>